h1{
    text-align: center;
    color: white;
}

.background-title{
    width: 100%;
    height: 40px;
    background-color: rgb(23, 29, 27);
}

.background-center{
    width: 100%;
    height: 750px;
    background-image:url('./fondo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.background-bottom{
    width: 100%;
    height: 140px;
    background-image: url('./mir.jfif');
}